* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    font-size: 13px;
}

.header-left span, .header-right span {
    cursor: pointer;
    margin: 0px 10px 0px 10px;
}

.header-left {
    margin-left: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

.bars {
    font-size: 1.4rem;
}

.circle {   
    font-size: 2.7rem;
}

footer {
    font-size: 14px;
    background-color: #efefef;
    color: #777777;
}

.footer-left span, .footer-right span {
    cursor: pointer;
    margin: 0px 15px 0px 15px;
}

main {
    width: 100vw;
    height: 88vh;
    text-align: center;
}

.title {
    cursor: pointer;
    padding-top: 10vh;
    font-size: 4.5rem;
}

.search-input {
    width: 380px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 12px;
    font-size: 16px;
}

.search-input:focus {
    box-shadow: 1px 1px 2px silver;
    outline: none;
}

.btn {
    border: none;
    border-radius: 3px;
    background-color: #efefef;;
    color: #777777;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.btn:focus {
    outline: 1px solid cornflowerblue;
}

.one {
    color: #4285F4;
}
.two {
    color: #EA4335;
}
.three {
    color: #FBBC05;
}
.four {
    color: #4285F4;
}
.five {
    color: #34A853;
}
.six {
    color: #EA4335;
}

@media (max-width: 580px) {
 
    footer {
        font-size: 11px;
    }

}